body{
    background-image: url("assests/home.jpeg");
    font-family:'Courier New', Courier, monospace;
    font-size: 1.2rem;
    margin-left: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    }
img{
    width: 50%;
    height: 60%;
    margin-top: 30px;
}



ul{ 
    text-align: end;
    list-style: none;
    display: flex;
}
ul li{
    padding: 10px;
    font-size: 1.4rem;
}
a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.portfolio{
    display: flex;
    justify-content: space-between;
}
.aboutcontent{
    display: flex;
    justify-content: space-between;
}
.aboutme{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    padding: 20px;
    text-align: left;
    font-size: 1.2rem;
    font-weight: bold;
   
}
.container{
    display: flex;
    justify-content: space-between;
}
.button{
    text-align: center;
}
button{
    padding: 10px 16px;
    width: 100px;
    text-align: center;
    margin-left: 80px;
    margin-top: 20px;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: aquamarine;
}
form{
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 100px;
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    
}
.section{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bolder;

}
label{
    text-align: left;
    margin-top: 10px;
}
input{
    border-radius: 10px;
    outline: none;
    padding: 10px;
}
.heading{
    font-size: 3rem;
}
textarea{
    
    border-radius: 10px;
    outline: none;
    padding: 10px;
}
.heading{
    text-align: center;
}
.icon{
    font-size: 2rem;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;


}
i{
    padding: 20px;
}
.project{
    display: flex;
    justify-content: space-between;
}
.projectsection > li{
    font-weight: bold;
}

@media only screen and (max-width:600px)
{
    body{
        background-color: aqua;
        font-size: 2rem;
    }
}




